.shop {
    width: 150px;
    height: 150px;
}
#back{
    margin-left: 30px;
}
.turn {
    font-family:Verdana, Geneva, Tahoma, sans-serif; color: black;
    color: #fff;
    background: #4268a8;
    border: 0,5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.cart-span {
    line-height: 5px !important;
    padding: 8px 14px 14px 6px !important; 
    margin-top: 8px ;
    margin-left: 20px;
    font-size: 15px !important;
}
h2 {
    float: left;
}
.product_wrapper {
	float:left;
    margin :12px;
    max-height: 300px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
    height: 80px;
	}
.product_wrapper div {
        font-size: 14px;
        inline-size: 185px;
}
.product_wrapper td {
    height: 30px;
}
.product_wrapper .buy {
	text-transform: uppercase;
    background: #4268a8;
    border: 1px solid #4268a8;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    margin-top: 15px;
}
.product_wrapper .buy:hover {
	background: #4268a8;
    border-color: #4268a8;
}
.message .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
	}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #3f59ff;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 15px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}